:root {
    --primary-colour:#FFFFFF;
    --secondary-colour:#000000;
    --accent-pink:#FF4A71;
    --accent-purple:#FF30E3;
}

body{
    font-family: 'Quicksand', sans-serif;
    padding-bottom: 5em;
    overflow-x: hidden;
}

h1{
    font-size: 40px;
    font-weight: bold;
}

h2{
    font-size: 27px;
    font-weight: bold;
}

p{
    font-size: 1em;
}

/* FOOTER */
.footer{
    width: 100%;
    text-align: center;
    padding: 0.7em 0 0.1em 0;
    background-color: var(--secondary-colour);
    color: var(--primary-colour);
}


/* Scroll Bar */
::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-thumb {
    border-radius: 100px;
    border: 5px solid transparent;
    background-clip: content-box;
    background-image: linear-gradient( var(--accent-pink), var(--accent-purple));
}

/***********************************************************************************************************************************************************************************/

/* Header */
.header{
    background-color: var(--primary-colour);
    padding-bottom: 1em;
}

.logo{
    text-align: right;
}

.logo img{
    margin-right: 15em;
}

.topnav a{
    margin: 0 7px 0 7px;
    float: right;
    color: var(--secondary-colour);
    padding: 14px 16px;
    text-decoration: none;
}

.tabs{
    padding-top:1em;
}

/* Stylescape scrolling image */
.wrapper{
    height: 400px;
    position:relative; 
    overflow:hidden;
    margin-bottom: 4em;
}
  
.stylescape{
    position:absolute; 
    top:0px; 
    left:0px; 
    overflow:hidden; 
    white-space: nowrap;
    animation: bannermove 20s linear infinite;
}
  
.stylescape img {
    height: 400px; 
}
  
@keyframes bannermove {
    0% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(-40%, 0);
    }
}

/* Pledge card */
.card{
    width: 15em;
    float: right;
    margin-right:2.5em;
    position: sticky;
    top: 4rem;
}

.btn:link,
.btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 10px 25px;
  display: inline-block;
  transition: all 0.2s;
  position: absolute;
  border-radius: 100px;
  border: 2px solid var(--accent-purple);
}

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.btn:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.btn-white {
    background-color: var(--primary-colour);
    color: var(--secondary-colour);
}

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 100px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s;
}

.btn-white::after {
    background-color: var(--primary-colour);
}

.btn:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}

.btn-animated {
  -webkit-animation: moveInBottom 5s ease-out;
          animation: moveInBottom 5s ease-out;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
}

@-webkit-keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

.about{
    margin-bottom: 2em;
}

.body-text{
    padding: 1.5em 1.5em;
}

.text{
    margin-bottom: 2em;
}
