:root {
    --primary-colour:#FFFFFF;
    --secondary-colour:#000000;
    --accent-pink:#FF4A71;
    --accent-purple:#FF30E3;
}

body{
    font-family: 'Quicksand', sans-serif;
    padding-bottom: 5em;
    overflow: hidden;
}

h1{
    font-size: 40px;
    font-weight: bold;
}

h2{
    font-size: 30px;
    font-weight: bold;
}

/* FOOTER */
.footer{
    width: 100%;
    text-align: center;
    padding: 0.7em 0 0.1em 0;
    background-color: var(--secondary-colour);
    color: var(--primary-colour);
}
/* FOOTER END */


/* Scroll Bar */
::-webkit-scrollbar {
    width: 19px;
}

::-webkit-scrollbar-thumb {
    border-radius: 100px;
    border: 5px solid transparent;
    background-clip: content-box;
    background-image: linear-gradient(to right, var(--accent-peach), var(--accent-pink));
}
/***********************************************************************************************************************************************************************************/

/* Main Boady css */
.header{
    padding-bottom: 1em;
}

.logo{
    text-align: right;
}

.logo img{
    margin-right: 15em;
}

.topnav a{
    margin: 0 7px 0 7px;
    float: right;
    color: var(--secondary-colour);
    padding: 14px 16px;
    text-decoration: none;
}

.tabs{
    padding-top:1em;
}

.wrapper{
    height: 400px;
    position:relative; 
    overflow:hidden;
}
  
.stylescape{
    position:absolute; 
    top:0px; 
    left:0px; 
    overflow:hidden; 
    white-space: nowrap;
    animation: bannermove 20s linear infinite;
}
  
.stylescape img {
    height: 400px; 
}
  
@keyframes bannermove {
    0% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(-40%, 0);
    }
}
